.column{
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 100px;
}

.firstImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    z-index: 3;
    width: 100%;
}

.gradientOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    background: linear-gradient(to top, rgb(0 0 0 / 90%) 0%, rgba(0, 0, 0, 0) 100%);
}

.column span,
.title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.title {
    width: 160px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    -webkit-line-clamp: 3; 
    white-space: normal; 
}

.column h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 75px;
    margin-top: 10px;
}

.column2 {
    width: 50%;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: flex-end;
    overflow: hidden;
}

.row {
    display: flex;
    width: 100vw;
}

.posts {
    height: 300px;
    display: flex;
    gap: 30px;
    margin: 0px 0px 50px 120px;
}

.posts img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.post {
    height: 250px;
    width: 200px;
    position: relative;
    border-radius: 5px;
    box-shadow: 4px 7px 10px rgb(0 0 0 / 32%);
}

.post h2 {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    color: #fff;
    font-size: 20px;
    left: 20px;
    line-height: 25px;
}

.details {
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
}

.details button {
    cursor: pointer;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 20px 25px;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 3px;
}

.details button:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    padding: 20px 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s;
}

.details span {
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 400;
}

.details p {
    line-height: 20px;
}

.itens {
    display: flex;
    gap: 80px;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author img {
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}