.column{
    width: 45%;
    position: relative;
}

.column2 {
    width: 55%;
    display: flex;
    max-height: 100vh;
    position: relative;
    align-items: flex-end;
    overflow: hidden;
}

.row {
    display: flex;
    width: 100vw;
}

.firstImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.map {
    z-index: -1;
    position: absolute;
}

.map img {
    opacity: 0.8;
    scale: 7;
    height: 100%;
    width: 100%;
}

.posts {
    height: 300px;
    display: flex;
    gap: 30px;
    margin: 0px 0px 50px 120px;
}

.posts img {
    height: 100%;
    width: 100%;
}

.post {
    height: 250px;
    width: 200px;
    position: relative;
}

.post h2 {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    color: #fff;
    left: 20px;
}