.header {
    display: flex;
    width: 100vw;
    position: fixed;
    z-index: 999;
    min-height: 90px;
    align-items: center;
    justify-content: center;
}

.header div {
    width: 100%;
    padding: 100px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}

.header span {
    font-weight: 600;
    font-size: 16px;
}

.logo {
    width: 30px;
    height: auto;
}

.header span {
    color: #fff;
    font-size: 25px;
}