.row {
    display: flex;
    width: 100vw;
}

.imgContent {
    position: relative;
    width: 40%;
    height: 100vh;
}

.imgContent img {
    width: 40%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

.contentContent {
    width: 60%;
    padding: 100px 8%;
}